<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>670940390929-gog9pfkb1mvi4q1ovvd0g45uop6hi4bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670940390929-gog9pfkb1mvi4q1ovvd0g45uop6hi4bf</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ_Fr2-jTxdzeDf_R2Ao6yKIKY8FcbGM8</string>
	<key>GCM_SENDER_ID</key>
	<string>670940390929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EMBassem.zakker</string>
	<key>PROJECT_ID</key>
	<string>zakker-d8171</string>
	<key>STORAGE_BUCKET</key>
	<string>zakker-d8171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:670940390929:ios:ebe3142d42d4f397</string>
	<key>DATABASE_URL</key>
	<string>https://zakker-d8171.firebaseio.com</string>
</dict>
</plist>